body {
    margin: 10%
}
hr {
    background-color: black;
    width: auto;
}
.head {
    font-size: 20pt;
    letter-spacing: -0.5px
}
/* fix the hr */
.subhead {
    display: inline-block;
    margin-left: 40px;
    font-size: 11pt;
}
.main2 {
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}
.main {
    display: block;
    padding: 10px;
    border: 1px solid black;
    font-family: "DM Sans", sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 9pt;
    line-height: 1.25;
}
.gridimgs {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.pfp {
    display: inline-block;
    width: 80px;
    height: auto;
    border-radius: 50%;
}
.c1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: rgb(236, 145, 160);
}
.c2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: rgb(250, 236, 145);
}
.table {
    display: grid;
    grid-template-columns: repeat(5,27vh);
    grid-template-rows: repeat(2,26vh);
    grid-gap: 5%;
}
video {
    margin-bottom: 10px;
}
/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.change {
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i));
}
@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg)
    }
} */
.sq1 {
    width: 30px;
    height: 30px;
    background-color: rgb(30, 0, 255);
}
.sq2 {
    width: 30px;
    height: 30px;
    background-color: rgb(96, 141, 94);
}
.sq3 {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 191, 255);
}
.sq4 {
    width: 30px;
    height: 30px;
    background-color: rgb(121, 66, 14);
}
.sq5 {
    width: 30px;
    height: 30px;
    background-color: rgb(21, 108, 22);
}
.sq6 {
    width: 30px;
    height: 30px;
    background-color: rgb(144, 111, 20);
}
.sq7 {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 179, 0);
}
.sq8 {
    width: 30px;
    height: 30px;
    background-color: rgb(249, 82, 185);
}
.sq9 {
    width: 30px;
    height: 30px;
    background-color: rgb(12, 235, 101);
}
.sq10 {
    width: 30px;
    height: 30px;
    background-color: rgb(8, 106, 139);
}
.txt1 {
    font-weight: 600;
    text-decoration: underline 3px pink;
}

@media screen and (max-width: 1350px){
    .table {
       grid-gap: 2%;
       grid-template-columns: repeat(5,24vh);
        }
}
@media screen and (max-width: 1100px){
    .table {
       grid-gap: 10%;
       grid-template-columns: repeat(3,25vh);
        }
}
@media screen and (max-width: 900px){
    .table {
       grid-gap: 10%;
       grid-template-columns: repeat(2,25vh);
        }
}
@media screen and (max-width: 700px){
    .head {
        font-size: 17pt;
    }
    .subhead {
        margin-left: 26px;
        font-size: 10pt;
    }
    .table {
       grid-gap: 10%;
       grid-template-columns: repeat(2,22vh);
        }
}