body {
    background-color: black;
    font-family: "Kode Mono", monospace;
    margin: 5%;
}
a {
    text-decoration: none;
}
h1 {
    color: rgb(249, 247, 247);
    margin-top: 50px;
    text-align: left;
    font-size: 45px;
    font-weight: 300;
}
h2{
    color: rgb(249, 247, 247);
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}
.start {
    color: rgb(249, 247, 247);
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}
h3{
    color: rgb(249, 247, 247);
    margin-top: 80px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}
.navbar {
    word-spacing: 4px;
    line-height: 2;
    text-align: left;
    
}
.linktxt {
    display: block;
    font-size: 20px;
    font-weight: 300;
    word-spacing: -4px;
    color: rgb(249, 247, 247);
    text-decoration: none;
}
span::before {
    font-size: 15px;
    color: red;
    content: "most uninteresting";
    animation: animate infinite 5s;
}
@keyframes animate {
    10% {
        content: "most uninteresting"
    }
    20% {
        content: "unnecessary"
    }
    30% {
        content: "positively revolting"
    }
    40% {
        content: "ugly"
    }
    50% {
        content: "spoil"
    }
}