body {
    background-color: rgb(238, 238, 223);
    margin: 5%;
}
a {
    text-decoration: none;
}
h1 {
    font-family: "loos-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(8, 5, 5);
    margin-top: 50px;
    text-align: left;
    font-size: 30px;
}
h2{
    font-family: "loos-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-style: normal;
    color: rgb(8, 5, 5);
    text-align: left;
    font-size: 16px;
}
.start {
    display: block;
    margin-top: 40px;
    font-family: "loos-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(8, 5, 5);
    text-align: left;
    font-size: 16px;
}
h3{
    font-family: "loos-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(8, 5, 5);
    margin-top: 80px;
    text-align: left;
    font-size: 16px;
}
.navbar {
    font-family: "loos-wide", sans-serif;
    font-weight: 100;
    font-style: normal;
    word-spacing: 4px;
    line-height: 2;
    text-align: left;
    
}
.linktxt {
    display: inline-block;
    font-size: 38px;
    font-weight: 300;
    word-spacing: 4px;
    color: rgb(8, 5, 5);
    text-decoration: none;
}
span::before {
    margin-left: 5px;
    font-size: 20px;
    color: red;
    content: "most uninteresting";
    animation: animate infinite 10s;
}
@keyframes animate {
    10% {
        content: "most uninteresting"
    }
    20% {
        content: "unnecessary"
    }
    30% {
        content: "positively revolting"
    }
    40% {
        content: "ugly"
    }
    50% {
        content: "spoil"
    }
}
@media only screen and (max-width: 900px) {
    .linktxt {
        font-size: 20px;
    }
  }