body {
    background-color: white;
}
.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: "loos-wide", sans-serif;
    font-weight: 100;
    word-spacing: normal;
    line-height: 2;
    text-align: center;
    
}
.linktxt {
    display: inline-block;
    font-family: "loos-wide", sans-serif;
    font-weight: 200;
    font-size: 29px;
    word-spacing: 4px;
    color:blue;
    text-decoration: none;
}
.linktxtactive {
    font-family: "loos-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 29px;
    word-spacing: 4px;
    text-decoration: none;
    color: darkblue;
}
.linktxt:hover {
    color: darkblue;
    transform: scale(1.03);
}
h1 {
    font-family: "Kode Mono", monospace;
    text-align: justify;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: blue;
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i));
}
@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg)
    }
}
.question {
    font-family: "Kode Mono", monospace;
    text-align: justify;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 13px;
    font-weight: 400;
    color: blue;
}
.excl {
    font-family: "Kode Mono", monospace;
    text-align: justify;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 13px;
    font-weight: 400;
    color: blue;
}
.transition {
    font-family: "Kode Mono", monospace;
    text-align: justify;
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 2;
    color: blue;
}
.next {
    font-family: "Kode Mono", monospace;
    text-align: justify;
    width: 60%;
    margin-top: 40px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-weight: 700;
    color: blue;
}
.character{
    font-family: "Kode Mono", monospace;
    color: blue;
    font-size: 25px;
    font-weight: 700;
    animation: 3s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.spcharacter {
    color: red;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    animation: 2s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
/* .topbar {
    font-family: "Kode Mono", monospace;
    width: 60%;
    background-color: rgb(238, 238, 223);
    padding: 2px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.top {
    color: black;
}
.topactive{
    background-color: rgb(179, 179, 159);
} */
