body {
    background-color: white;
    font-family: "Kode Mono", monospace;
}
.navbar {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: "loos-wide", sans-serif;
  font-weight: 100;
  word-spacing: normal;
  line-height: 2;
  text-align: center;
  
}
.linktxt {
  display: inline-block;
  font-family: "loos-wide", sans-serif;
  font-weight: 200;
  font-size: 29px;
  word-spacing: 4px;
  color:blue;
  text-decoration: none;
}
.linktxtactive {
  font-family: "loos-wide", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 29px;
  word-spacing: 4px;
  text-decoration: none;
  color: darkblue;
}
.linktxt:hover {
  color: darkblue;
  transform: scale(1.03);
}
h1 {
   color: blue;
    text-align: justify;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    word-spacing: -10px;
}
h2 {
    text-align: justify;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: blue;
}
.runon{
    width: 100%;
    margin-top: 70px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: blue;
}
.character {
    color: blue;
    font-size: 20px;
    font-weight: 700;
}
.spcharacter {
  color: red;
    font-size: 20px;
    font-weight: 700;
    animation: 2s anim-lineUp ease-out infinite;
    text-decoration: none;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
.topbar{
  width: 60%;
  background-color: rgb(238, 238, 223);
  padding: 2px;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.top {
  color: black;
}
.topactive{
  background-color: rgb(179, 179, 159);
}